@font-face {
  font-weight: 300;
  font-family: "Roboto";
  font-style: light;
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: bold;
  src: url("../fonts/Roboto-Bold.ttf");
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

picture img {
  vertical-align: middle;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button,
input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}