.bank {
  width: 300px;
  margin: 0 auto;
  padding-top: 15px;
  
  .data-text {
    line-height: 37px;
  }
}

//-------------Mobile-480----------------

@media @mobile {
  .bank {
    width: 440px;
    padding-top: 35px;
    
    .data-text {
      line-height: 40px;
    }
  }
}

//-------------Tablet--------------------

@media @tablet {
  .bank {
    padding-top: 0;
    width: 75%;
  }
}