.btn {
  width: 300px;
  line-height: 45px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: @orange;
  cursor: pointer;
  
  &:hover {
    background-color: #ff9f2d;
  }
  
  &:active {
    background-color: #cb680f;
  }
}

//-------------Mobile-480--------------

@media @mobile {
  .btn {
    width: 100%;
  }
}

//-------------Tablet----------------

@media @tablet {
  .btn {
    line-height: 40px;
  }
}

//-------------Tablet----------------

@media @desktop {
  .btn {
    line-height: 45px;
  }
}