.catalog {
  width: 300px;
  padding: 0 10px;
  padding-top: 10px;
  margin: 0 auto;
}

.catalog__img {
  width: 300px;
  height: 162px;
}

.catalog__list {
  width: 100%;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 1px;
    background-color: @grey;
  }
  
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(5),
  &:nth-child(6) {
    display: none;
  }
  
  &:nth-child(4)::after {
    display: none;
  }
}

.catalog__name {
  color: @blue;
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}

.catalog__type {
  text-transform: uppercase;
  color: @grey;
  margin-top: 5px;
  margin-bottom: 10px;
}

.catalog__buy {
  display: block;
  width: 100%;
  font-weight: 700;
  color: @blue;
  text-align: center;
  line-height: 40px;
  background-color: @grey;
  border-radius: 3px;
}

.catalog__link {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
}

//-------------Mobile-480--------------

@media @mobile {
  .catalog {
    width: 440px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .catalog__item {
    width: 50%;
    box-sizing: border-box;
    padding-right: 10px;
    
    &:nth-child(2),
    &:nth-child(5) {
      display: flex;
    }
    
    &:nth-child(2),
    &:nth-child(5) {
      padding-left: 10px;
      padding-right: 0;
    }
  }
  
  .catalog__img {
    width: 210px;
    height: 113px;
  }
  
  .catalog__name {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .catalog__link {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    &--main {
      width: 230px;
    }
  }
}
