.catalog {
  width: 300px;
  padding: 0 10px;
  padding-top: 10px;
  margin: 0 auto;
}

.catalog__img {
  width: 300px;
  height: 162px;
}

.catalog__list {
  width: 100%;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 1px;
    background-color: @grey;
  }
  
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(5),
  &:nth-child(6) {
    display: none;
  }
  
  &:nth-child(4)::after {
    display: none;
  }
}

.catalog__name {
  color: @blue;
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
  max-width: 300px;
}

.catalog__type {
  text-transform: uppercase;
  color: @grey;
  margin-top: 5px;
  margin-bottom: 10px;
}

.catalog__buy {
  display: block;
  width: 100%;
  font-weight: 700;
  color: @blue;
  text-align: center;
  line-height: 40px;
  background-color: @grey;
  border-radius: 3px;
  
  span {
    display: none;
  }
  
  &:hover,
  &:active {
    background-color: @blue;
    color: #fff;
  }
  
  &:hover span,
  &:active span {
    display: inline;
  }
}

.catalog__link {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
}

//-------------Mobile-480--------------

@media @mobile {
  .catalog {
    width: 440px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .catalog__item {
    width: 50%;
    box-sizing: border-box;
    padding-right: 10px;
    
    &:nth-child(2),
    &:nth-child(5) {
      display: flex;
    }
    
    &:nth-child(2),
    &:nth-child(5) {
      padding-left: 10px;
      padding-right: 0;
    }
  }
  
  .catalog__img {
    width: 210px;
    height: 113px;
  }
  
  .catalog__name {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 210px;
  }
  
  .catalog__link {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 40px;
    
    &--main {
      width: 230px;
      margin-bottom: 30px;
    }
  }
}

//-------------Tablet----------------

@media @tablet {
  .catalog {
    width: 768px;
    padding-top: 30px;
    box-sizing: border-box;
  }
  
  .catalog__list {
    justify-content: center;
  }
  
  .catalog__item {
    width: 230px;
    margin-right: 19px;
    padding-right: 0;
    padding-top: 25px;
    padding-bottom: 25px;
  
    &:nth-child(3),
    &:nth-child(6) {
      display: flex;
    }
    
    &:nth-child(3n) {
      margin-right: 0;
    }
    
    &:nth-child(2),
    &:nth-child(5) {
      padding-left: 0;
      margin-right: 19px;
    }
    
    &:nth-child(5)::after,
    &:nth-child(6)::after {
      display: none;
    }
  }
  
  .catalog__img {
    width: 229px;
    height: 123px;
  }
  
  .catalog__link {
    width: 229px;
    margin-left: 0;
    margin-bottom: 40px;
    
    &--main {
      margin-left: auto;
    }
  }
  
  .catalog__name {
    padding-left: 0;
    padding-right: 0;
    max-width: 229px;
  }
}

//-------------Desktop-----------------

@media @desktop {
  .catalog {
    width: 1000px;
    padding-top: 35px;
    padding-left: 0;
    padding-right: 0;
  }
  
  .catalog__img {
    width: 260px;
    height: 139px;
  }
  
  .catalog__item {
    margin-right: 0;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 32px;
    width: 260px;
    box-sizing: content-box;
    
    &:nth-child(2),
    &:nth-child(5) {
      padding-left: 35px;
      padding-right: 35px;
      margin-right: 0;
    }
  }
  
  .catalog__list {
    position: relative;
    
    &::before {
      content: "";
      position: absolute;
      left: 33.3%;
      top: 25px;
      width: 1px;
      height: 92%;
      background-color: @grey;
    }
    
    &::after {
      content: "";
      position: absolute;
      right: 33.3%;
      top: 25px;
      width: 1px;
      height: 92%;
      background-color: @grey;
    }
  }
  
  .catalog__link {
    margin-left: 30px;
    
    &--main {
      margin-left: auto;
      margin-top: 0;
      margin-bottom: 50px;
    }
  }
}