.contacts {
  width: 300px;
  margin: 0 auto;
  padding: 35px 10px;
  padding-top: 30px;
  background-color: @bg-blue;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts__text {
  margin: 0;
}

.contacts__call .contacts__text {
  text-align: center;
  line-height: 40px;
}

.contacts__buttons {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

.contacts__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  width: 55px;
  height: 45px;
  background-color: @orange;
  border-radius: 5px;
  
  &--tw {
    margin-right: 10px;
  }
  
  &--tw svg {
    width: 20px;
    height: 16px;
  }
  
  &--vk svg {
    width: 24px;
    height: 14px;
  }
  
  &:hover {
    background-color: #ff9f2d;
  }
  
  &:active {
    background-color: #cb680f;
  }
}

.contacs__fill {
  fill: #fff;
}

//-------------Mobile-480--------------

@media @mobile {
  .contacts {
    width: 440px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .contacts__call {
    width: 100%;
  }
  
  .contacts__buttons {
    padding-top: 20px;
  }
}
