.footer-main {
  max-width: 320px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 10px;
  background-color: @blue;
  color: @dark-blue;
}

.footer-main__tires,
.footer-main__vendors,
.footer-main__about {
  border-bottom: 1px solid @dark-blue;
}

.footer-main__title {
  display: inline-block;
  margin: 0;
  width: 90%;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 45px;
}

.footer-main__link {
  color: #fff;
  
  &:hover {
    color: @orange;
  }
}

.footer-main__control {
  display: none;
  margin-left: auto;
}

.footer-main__control:not(checked) + label {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 5px;
    width: 16px;
    height: 16px;
    background-image: url(../img/icons-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}

.footer-main__control:checked + label {
  
  &::before {
    transform: rotate(180deg);
  }
}

.footer-main input[type="checkbox"]:checked ~ .footer-main__list {
  display: block;
}

.footer-main input[type="checkbox"]:not(checked) ~ .footer-main__list {
  display: none;
}

.footer-main__copyright {
  text-align: center;
  padding: 20px 0;
}

.footer-main__web,
.footer-main__design {
  line-height: 30px;
  margin: 0;
}

.footer-main__web a,
.footer-main__design a {
  color: @dark-blue;
  
  &:hover {
    color: @orange;
  }
}

//-------------Mobile-480--------------

@media @mobile {
  .footer-main {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .footer-main__control:not(checked) + label::before {
    left: 20px;
  }
  
  .footer-main__link {
    line-height: 29px;
  }
  
  .footer-main__item:last-child {
    margin-bottom: 12px;
  }
}

//-------------Tablet----------------

@media @tablet {
  .footer-main {
    max-width: 768px;
    padding-bottom: 35px;
    position: relative;
  }
  
  .footer-main input[type="checkbox"]:not(checked) ~ .footer-main__list {
    display: block;
  }
  
  .footer-main__control + label::before {
    display: none;
  }
  
  .footer-main__tires,
  .footer-main__vendors,
  .footer-main__about {
    border-bottom: none;
  }
  
  .footer-main__info {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
  }
  
  .footer-main__tires {
    width: 48%;
  }
  
  .footer-main__vendors {
    width: 35%;
  }
  
  .footer-main__item:last-child {
    margin-bottom: 0;
  }
  
  .footer-main input[type=checkbox]:not(checked)~.footer-main__list,
  .footer-main input[type=checkbox]:checked ~.footer-main__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
  }
  
  .footer-main__list--vendors {
    height: 270px;
  }
  
  .footer-main__link span {
    display: none;
  }
  
  .footer-main__copyright {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
  
  .footer-main__web,
  .footer-main__design {
    text-align: left;
  }
}

//-------------Desktop-----------------

@media @desktop {
  .footer-main {
    max-width: 1000px;
    padding-bottom: 0;
  }
  
  .footer-main__copyright {
    position: static;
    display: flex;
    justify-content: space-between;
    padding-right: 130px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  
  .footer-main__info {
    padding-top: 45px;
    justify-content: flex-start;
  }
  
  .footer-main__tires {
    width: 335px;
    position: relative;
  }
  
  .footer-main__list--vendors {
    height: 175px;
  }
  
  .footer-main__vendors {
    width: 445px;
    padding-left: 35px;
    position: relative;
  }
  
  .footer-main__tires::after,
  .footer-main__vendors::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 0;
    width: 1px;
    height: 90%;
    background-color: @dark-blue;
  }
  
  .footer-main__link span {
    display: inline;
  }
  
  .footer-main__about {
    padding-left: 35px;
  }
  
  .footer-main__web,
  .footer-main__design {
    font-size: 14px;
  }
}

//-------------PC-----------------

@media @pc {
  .footer-main {
    max-width: 1400px;
    padding-right: 0;
    padding-left: 0;
  }
  
  .footer-main__info {
    width: 1220px;
    box-sizing: border-box;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 45px;
    padding-right: 105px;
  }
  
  .footer-main__copyright {
    width: 1400px;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: @grey;
    padding-right: 90px;
    padding-left: 90px;
    padding-top: 50px;
  }
  
  .footer-main__web,
  .footer-main__design,
  .footer-main__web a,
  .footer-main__design a {
    color: #999;
  }
  
  .footer-main__vendors {
    padding-left: 0;
  }
  
  .footer-main__about {
    padding-left: 0;
  }
  
  .footer-main__tires::after {
    right: -50px;
  }
}
