//-------------Mobile-480--------------

@media @mobile {
  .logo__img {
    width: 187px;
    height: 51px;
  }
}

//-------------Tablet----------------

@media @tablet {
  .logo__img {
    min-width: 197px;
    height: 53px;
  }
  
  .logo {
    margin-right: 10px;
  }
}

//-------------Desktop----------------

@media @desktop {
  .logo {
    margin-right: 20px;
    margin-top: 10px;
  }
}

//-------------PC-----------------

@media @pc {
  .logo {
    margin-top: 0;
    margin-right: 30px;
  }
}
