//-------------Mobile-480--------------

@media @mobile {
  .logo {
    width: 187px;
    height: 51px;
  }
}

//-------------Tablet----------------

@media @tablet {
  .logo {
    width: 197px;
    height: 53px;
    margin-right: 25px;
  }
}