.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  background-color: @blue;
}

.menu__search {
  width: 240px;
  min-height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 37px;
  background-image: url(../img/icons-search.svg);
  background-repeat: no-repeat;
  background-position: left 12px center;
  background-size: 15px 15px;
}

.menu--closed .menu__list {
  display: none;
}

.menu__toggle {
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

.menu--closed .menu__toggle {
  background-image: url(../img/icon-menu-ham.svg);
  width: 30px;
  height: 19px;
}

.menu--opened .menu__toggle {
  background-image: url(../img/icon-menu-cross.svg);
  background-size: contain;
  width: 23px;
  height: 23px;
}

.menu--opened {
  .menu__list {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 20;
  }
  
  .menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid @grey;
  }
  
  .menu__link {
    display: inline-block;
    width: 90%;
    font-size: 16px;
    font-weight: 700;
    line-height: 55px;
    text-transform: uppercase;
    color: @dark-blue;
  }
  
  .menu__sublink {
    color: @blue;
    position: relative;
  }
  
  .menu__sublink::after {
      content: "";
      position: absolute;
      bottom: 1px;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: rgba(77,130,164,0.33);
    }
  
  .menu__sublink:hover::after {
    display: none;
  }
  
  .menu__sublink:hover {
    color: @orange;
  }
  
  .menu__sublink--active,
  .menu__sublink--active:hover {
    color: @orange;
  }
  
  .menu__sublink--active::after {
    display: none;
  }
}

.menu-active::after {
  display: none;
}

.menu__control {
  display: none;
  margin-left: auto;
}

.menu__control:not(checked) + label {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -16px;
    width: 16px;
    height: 16px;
    background-image: url(../img/icons-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}

.menu__control:checked + label {
  
  &::before {
    transform: rotate(180deg);
  }
}

.menu input[type="checkbox"]:checked ~ .menu__sub {
  display: block;
}

.menu input[type="checkbox"]:not(checked) ~ .menu__sub {
  display: none;
}

//-------------Mobile-480--------------

@media @mobile {
  .menu {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

//-------------Tablet----------------

@media @tablet {
  .menu {
    max-width: 768px;
  }
  
  .menu__search {
    width: 290px;
  }
  
  .menu__list {
    max-width: 305px;
    z-index: 30;
  }
}

//-------------Desktop-----------------

@media @desktop {
  .menu {
    max-width: 1000px;
  }
  
  .menu__search {
    width: 155px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .menu__toggle {
    display: none;
  }
  
  .menu--closed .menu__list,
  .menu--opened .menu__list {
    display: flex;
    justify-content: space-between;
    width: 800px;
    max-width: 800px;
  }
  
  .menu__link {
    color: #fff;
    font-weight: 700;
  }
  
  .menu__control:not(checked)+label::before,
  .menu__control:checked+label::before {
    display: none;
  }
  
  .menu__item {
    position: relative;
    flex-grow: 1;
    
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(5) {
      
      &::after {
        content: "";
        position: absolute;
        top: 15px;
        right: 20px;
        width: 16px;
        height: 16px;
        background-image: url(../img/icons-arrow-down.svg);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }
    }
    
    &:last-child {
      display: none;
    }
  }

  .menu input[type=checkbox]:not(checked)~.menu__sub,
  .menu input[type=checkbox]:checked~.menu__sub {
    display: none;
  }
  
  .menu__list .menu__item:hover .menu__sub {
    display: block;
    position: absolute;
    top: 35px;
    left: -10px;
    width: 266px;
    padding-left: 27px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 8px 8px 0px rgba(77, 130, 164, 0.31);
  }
  
  .menu__sub .menu__sublink {
    color: @blue;
    position: relative;
    
    &:hover {
      color: @orange;
    }
    
    &:hover::after {
      display: none;
    }
  }
  
  .menu__sub .menu__subitem {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .menu__sub .menu__sublink::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(77,130,164,0.33);
  }
  
  .menu__sub .menu__sublink--active,
  .menu__sub .menu__sublink--active:hover {
    color: @orange;
  }
  
  .menu__sub .menu__sublink--active::after {
    display: none;
  }
  
  .menu {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .menu__item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

//-------------PC-----------------

@media @pc {
  .menu {
    max-width: 100%;
    justify-content: space-around;
  }
  
  .menu__search {
    width: 240px;
  }
}