.title-h1 {
  font-size: 24px;
  font-weight: 700;
  
  span {
    display: none;
  }
  
  &--contacts {
    margin: 0;
  }
}

//-------------Mobile-480----------------

@media @mobile {
  .title-h1 {
    font-size: 28px;
    
    &--contacts {
      margin-top: 5px;
    }
  }
}
